@model Food_to_go.Models.MealPackage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MealPackage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservedFrom" class="control-label"></label>
                <input asp-for="ReservedFrom" class="form-control" />
                <span asp-validation-for="ReservedFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservedTill" class="control-label"></label>
                <input asp-for="ReservedTill" class="form-control" />
                <span asp-validation-for="ReservedTill" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AdultPackage" /> @Html.DisplayNameFor(model => model.AdultPackage)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealType" class="control-label"></label>
                <input asp-for="MealType" class="form-control" />
                <span asp-validation-for="MealType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
